@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src = "https://picsum.photos/200/300"></img>
    <p>Learn about me: <a href="https://github.com/Eldorbek2001">Eldorbek2001</a>.</p>
</div>
